<!-- 328/hello-fat-free/views/home-page.html -->
<!-- Author: Luke Cheng-->
<!-- Date: 4/13/2024 -->
<!-- Description: This HTML file represents the home page for a job application website -->


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Job Application</title>
</head>
<body>
<div class="navbarContainer">
    <nav class="navbar ">
        <ul class="list">
            <li class="pb-3"><h6>FutureFusion LLC</h6></li>
            <li><h3>Software Development Internship</h3></li>
        </ul>
    </nav>

    <nav class="navbar">
        <ul class="list">
            <li class="pb-3"><h6>Seattle Washington, Paid, 12 Weeks</h6></li>
        </ul>
    </nav>
</div>
<form action="#" method="post">
    <div class="jobContainer p-4">
        <h3 class="border-bottom border-primary jobHeader">Job Openings Mailing Lists</h3>

        <label id="skill" class="fw-bold">Software Development Jobs</label>

        <div class="p-2">
            <input type="checkbox" id="js" name="js" value="JavaScript">
            <label for="js">JavaScript</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="php" name="php" value="PHP">
            <label for="php">PHP</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="java" name="java" value="Java">
            <label for="java">Java</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="python" name="python" value="Python">
            <label for="python">Python</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="html" name="html" value="HTML">
            <label for="html">HTML</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="css" name="css" value="CSS">
            <label for="css">CSS</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="reactJs" name="reactJs" value="ReactJS">
            <label for="reactJs">ReactJS</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="nodeJs" name="nodeJs" value="NodeJs">
            <label for="nodeJs">NodeJs</label>
        </div>

        <label id="field" class="fw-bold">Industry Verticals</label>

        <div class="p-2">
            <input type="checkbox" id="saas" name="saas" value="Saas">
            <label for="saas">Saas</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="health" name="health" value="Health tech">
            <label for="health">Health tech</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="ag" name="ag" value="Ag tech">
            <label for="ag">Ag tech</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="hr" name="hr" value="HR tech">
            <label for="hr">HR tech</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="industrial" name="industrial" value="Industrial tech">
            <label for="industrial">Industrial tech</label>
        </div>

        <div class="p-2">
            <input type="checkbox" id="cybersecurity" name="cybersecurity" value="Cybersecurity">
            <label for="cybersecurity">Cybersecurity</label>
        </div>


        <div></div>

        <div class="p-2">
            <label></label><br>
            <button class="btn btn-success form-control" type="submit">Next</button>
<!--            <input type="submit" value="Next" class="rounded form-control" id="button">-->
        </div>
    </div>
</form>
</body>
</html>