.navbarContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li{
    list-style-type: none;
}

.bodyContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #c4e5ff;
}

em{
    font-style: italic;
}